#dnaHome {
  background-color: blue;
}

#nameHome {
  background-color: white;
  color: red;
}

#container {
  border: solid white 1px;
}

#genotypeHome {
  width: 90px;
  border: solid white 1px;
}

#genotypeHeadHome {
  width: 90px;
  border: solid white 3px;
}

#demo {
  color: white;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
