
  

.row
  .col-xs-8.col-xs-offset-4
    .form-group
      h1#text ourDNA
      h1#text Exploring your Family's Genome 
    .form-group
      h1#text using 23andme data 
      img#littleLogo23andme(ng-src='{{Logo23andme}}')
    img(ng-src='{{circleDance}}')
    img#dancingChrom(ng-src='{{dancingChrom}}')
.row
  .col-xs-8.col-xs-offset-3
    .form-group
      img#chromosomeToMolecule(ng-src='{{humanKaryotype}}')

.row
  .col-xs-12.col-xs-offset-5
    button.btn.btn-success(ng-click='startourDNA()') Lets Start!
      //- h2 - Each person inherits one set of chromosomes from each parent
      //- h2 ~~~~~~~~~~~~~~~
      //- 
      //- h2 - 
      //- h2 - The human genome is all 23 pairs of chromosomes 
      //- h2 - The purpose of this app is to allow you to compare 
      //- h2 - What DNA regions are most shared by family members?
      //- h2 - 
